{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:evento' %}">{% trans "Home" %}</a>
    &rsaquo; <a href="{% url 'admin:evento' %}">{% trans "Eventos" %}</a>
    &rsaquo; {{ event.evento_id }}
  </div>
{% endblock %}

{% block content %}
  <div class="module">
    <h2>{{ event.evento_id }}</h2>
    <ul>
      <li>{% trans "Tipo de Evento" %}: {{ event.tipo_evento_id }}</li>
      <li>{% trans "Encuentro" %}: {{ event.encuentro_id }}</li>
      <!-- Agrega más detalles según tus necesidades -->
    </ul>
  </div>
{% endblock %}
