{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
    &rsaquo; <a href="{% url 'admin:nombre_de_tu_modelo_changlist' %}">{% trans "Eventos" %}</a>
    &rsaquo; {% trans "Registrar Evento" %}
  </div>
{% endblock %}

{% block content %}
  <div class="module">
    <h2>{% trans "Registrar Evento" %}</h2>
    <form method="post" action="{% url 'admin:nombre_de_tu_modelo_add' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="{% trans 'Guardar' %}">
    </form>
  </div>
{% endblock %}
