{% extends 'moduloTV/base.html' %}
{% block content %}
<hr>

<!--  -->
<div class="form-inline mb-4 table"
    style="background-color: #2d2d2d; padding: 10px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,.1);">
    <div class="col-md-3 mb-2 text-center">
        <h5 style="color: #ffffff;">Tipo suceso</h5>
    </div>
    <div class="col-md-4 mb-2 text-center">
        <h5 style="color: #ffffff;">Motivo</h5>
    </div>
    <div class="col-md-2 mb-2">
        <h5 style="color: #ffffff;">Tiempo</h5>
    </div>
    <div class="col-md-2 mb-2">
        <h5 style="color: #ffffff;">Duración</h5>
    </div>
    <div class="col-md-1 mb-2">
        <h5></h5> <!-- Este div está vacío -->
    </div>
</div>

<!--  -->

<div id="eventos-container">
{% for e in eventos %}
<div class="card mb-4">
    <div class="card-body">

        <form class="form-inline"
            action="{% if e.encuentro_id and e.encuentro_id.id %}{% url 'mostrar_evento' e.encuentro_id.id %}{% endif %}"
            method="post" id="eventoForm">



            {% csrf_token %}
            <div class="col-md-3 mb-2 text-center">
                <!-- <label for="evento"></label>
                <a href="#" data-toggle="modal" data-target="#verDetallesModal{{ e.evento_id }}">
                    <i class="fa fa-eye fa-2x"></i>
                </a> -->
                <h5> {{ e.tipo_evento_id }}</h5>
            </div>
            <div class="col-md-4 mb-2">
                <h5> {{ e.motivo }}</h5>
            </div>
            <div class="col-md-2 mb-2">
                <input type="hidden" name="idEvento" value="{{ e.evento_id }}">

                <h5> {{ e.tiempo }}</h5>


            </div>
            <div class="col-md-2 mb-2">
                <!-- <input type="time" class="form-control" id="tiempo" name="tiempo"> -->
                <input type="number" class="form-control"  value="10" name="tiempo" min="1"
                max="36000">
            </div>
            <div class="col-md-1 mb-2">
                <button type="submit" class="btn btn-primary"><i class="fas fa-eye"> Mostrar</i> </button>
                {% if e.tipo_evento_id.nombre == "CRONOMETRO" %}
                <button type="submit" class="btn btn-success">Iniciar</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
</div>
<!-- Modal para ver detalles -->
<!-- Modal para ver detalles -->
<!-- <div class="modal fade" id="verDetallesModal{{ e.evento_id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Detalles del Evento </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if e.tipo_evento_id %}
                <h5>Tipo suceso: {{ e.tipo_evento_id }}</h5>
                {% endif %}
                {% if e.tiempo_reglamentario %}
                <h5>Tiempo reglamentario: {{ e.tiempo_reglamentario }}</h5>
                {% endif %}
                {% if e.tiempo_extra %}
                <h5>Tiempo extra: {{ e.tiempo_extra }}</h5>
                {% endif %}
                {% if e.motivo %}
                <h5>Motivo: {{ e.motivo }}</h5>
                {% endif %}
                {% if e.cantidad %}
                <h5>Cantidad: {{ e.cantidad }}</h5>
                {% endif %}
                {% if e.alineacion_id1 %}
                <h5>Jugador emisor: {{ e.alineacion_id1.contrato_id.persona.alias }}</h5>
                {% endif %}
                {% if e.alineacion_id2 %}
                <h5>Jugador receptor: {{ e.alineacion_id2.contrato_id.persona.alias }}</h5>
                {% endif %}
                {% if e.encuentro_id %}
                <h5>Encuentro: {{ e.encuentro_id }}</h5>
                {% endif %}


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> -->


{% endfor %}
<!-- Agrega esto en el head de tu HTML -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        function actualizarPagina() {
            // Cargar la página actual sin caché
            $.ajax({
                url: window.location.href,
                type: 'GET',
                cache: false,
                success: function (data) {
                    // Actualizar el contenido de la página con la respuesta
                    var nuevoContenido = $(data);

                    // Actualizar contenedor principal
                    var contenedorPrincipal = nuevoContenido.find('#eventos-container');
                    $('.eventos-container').html(contenedorPrincipal.html());

                },
            });
        }

        // Actualizar la página cada 2 segundos
        setInterval(actualizarPagina, 2000);
    });



</script>


{% endblock %}