{% extends 'moduloTV/base.html' %}

{% block content %}
    <h1>Eventos</h1>
    
    {% for e in eventos %}
    <div class="card mb-4">
        <div class="card-body">
            <form class="form-inline">
                <div class="col-md-3 mb-2">
                    <label for="evento">Evento</label>
                    <!-- <input type="text" class="form-control" id="evento" name="evento"> -->
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Tipo suceso: {{ e.tipo_suceso }}</h5>
                    <h5>Observación: {{ e.observacion }}</h5>
                    <h5>Tiempo: {{ e.tiempo }}</h5>
                </div>
                <div class="col-md-2 mb-2">
                    <input type="time" class="form-control" id="tiempo" name="tiempo">
                </div>
                <div class="col-md-2 mb-2">
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="mostrar" name="mostrar">
                        <label class="form-check-label" for="mostrar">Mostrar/Ocultar</label>
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
{% endblock %}

<!--  -->
        
<!--  -->