{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">Asignar Alineaciones</h1>


    <form method="post" action="{% url 'asignarAlineaciones' encuentro_id=encuentro.encuentro_id %}">
      {% csrf_token %}

      <div class="row">
        <div class="col-md-6">
            <h2>{{ equipoLocal.0.nuevo_club.nombre }}</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Jugador</th>
                <th>Posición</th>
                <th>Dorsal</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              {% for jugador in equipoLocal %}
                <tr>
                  <td>{{ jugador.persona.nombre }}</td>
                  <td>{{ jugador.posicion_jugador }}</td>
                  <td>{{ jugador.dorsal }}</td>
                  <td>
                    <input type="checkbox" name="jugadores_local[]" value="{{ jugador.persona.persona_id }}">

                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
            <h2>{{ equipoVisita.0.nuevo_club.nombre }}</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Jugador</th>
                <th>Posición</th>
                <th>Dorsal</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              {% for jugador in equipoVisita %}
                <tr>
                  <td>{{ jugador.persona.nombre }}</td>
                  <td>{{ jugador.posicion_jugador }}</td>
                  <td>{{ jugador.dorsal }}</td>
                  <td>
                    <input type="checkbox" name="jugadores_visita[]"  value="{{ jugador.persona.persona_id }}">
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="text-right mt-4">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'mostrarEncuentrosNoJugado' %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
{% endblock %}
