{% load static%}
<!-- Header-->
<header>
    <!-- End headerbox-->
    <div class="headerbox">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <!-- Logo-->
                <div class="col">
                   <div class="logo">
                       <a href="/" title="Return Home">
                            <img src="{% static 'images/logo.webp' %}" alt="Logo" class="logo_img">
                        </a>
                   </div>
                </div>
                <!-- End Logo-->
                {% include 'nav.html' %}
                <!-- Adds Header
                <div class="col">
                    <div class="adds">
                        <a href="http://themeforest.net/user/iwthemes/portfolio?ref=iwthemes" target="_blank">
                            <img src="img/adds/banner.webp" alt="" class="img-responsive">
                        </a>
                    </div>  
                    <a class="mobile-nav" href="#mobile-nav"><i class="fa fa-bars"></i></a>                    
                </div>-->
                <!-- End Adds Header-->
            </div>
        </div>
    </div>
    <!-- End headerbox-->
</header>
<!-- End Header-->