{% extends 'base.html' %}
{% load i18n static %}
{% block title %} Lista de sedes por organización {% endblock %}
{% block content %}

<section class="content-info" style="margin-top: 20px; margin-bottom: 20px">
    <div class="container">
        <div class="row">
            <!-- Combobox para filtrar por tipo de organización -->
            <div class="col-md-12">
                <form method="get" action="{% url 'sedes/filtrar' %}">
                    <div class="form-group">
                        <label for="competicionId">Competición:</label>
                        <select name="competicionId" id="competicionSelect" class="form-control">
                            {% for competicion in competiciones %}
                            <option value="{{ competicion.competicion_id }}">{{ competicion.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Filtrar" class="btn btn-primary">
                </form>
            </div>
            <!-- Tabla de sedes -->
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Sede</th>
                            <th>Alias</th>
                            <th>Ciudad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sede in sedes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'detalle_sede' sede.sede_id %}">{{ sede.nombre }}</a></td>
                            <td>{{ sede.alias }}</a></td>
                            <td>{{ sede.ciudad_id.nombre }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}