{% extends 'base.html' %}
{% load i18n static %}

{% block title %} TV en Vivo - Partido de Fútbol {% endblock %}

{% block content %}
<style>
  .video-container {
    position: relative;
  }

  .banner-himno {
    position: absolute;
    top: 330px;
    right: 615px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    height: 50px;
    width: 500px;
    font-size: 30px;
    border-radius: 5px;
    z-index: 1;
  }

  .banner-cronometro {
    position: absolute;
    top: 14px;
    left: 13px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 28px;
    width: 100px;
    font-size: 17px;
    border-radius: 5px;
    z-index: 1;
  }

  .banner-marcadores {
    position: absolute;
    top: 14px;
    right: 975px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 28px;
    width: 180px;
    font-size: 17px;
    border-radius: 5px;
    z-index: 1;
  }
  .info-partido {
  position: absolute;
  top: 285px;
  left: 1100px;
  background-color: rgba(3, 255, 37, 0.688);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 300px;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  box-shadow: 0 0 50px rgba(3, 255, 37, 0.5); /* Ajusta el valor de desenfoque (10px) y opacidad (0.5) según tus preferencias */
}

</style>
<div class="container">
    <h1>TV en Vivo - Partido de Fútbol</h1>

    <div class="video-container">
      <video src="https://drive.google.com/uc?export=download&id=1lfJThCimwUB8dUTW7O2mBh4b4m2ZqGCw" width="800" height="450" controls="false" disablePictureInPicture controlsList="nodownload" id="myVideo">
      </video>
      <!-- <div class="banner-himno">
        HIMNO NACIONAL DEL (EQUIPO)
      </div> -->
      <div class="banner-cronometro">
        <span id="cronometro">00:00
      </div>
      <div class="banner-marcadores">
        <span>MCI </span><span id="marcador-local">0</span> - <span id="marcador-visitante">0</span></span><span> BAY</span>
      </div>
    </div>

    <div class="info-partido">
      <h2>Información del Partido</h2>
      <p><strong>Fecha del Partido:</strong> 11 de Abril de 2023</p>
      <p><strong>Hora de Inicio:</strong> 20:00 horas</p>
      <p><strong>Equipos:</strong> Man. City vs. Bayern Munich</p>
      <p><strong>Estadio:</strong> Estadio Ciudad de Mánchester</p>
    </div>
</div>
<script>
  var video = document.querySelector('video');
  var cronometroInterval;
  var minutosCronometro = 0;
  var segundosCronometro = 0;

  // Función para actualizar el cronómetro
  function actualizarCronometro() {
      if (segundosCronometro < 59) {
          segundosCronometro++;
      } else {
          segundosCronometro = 0;
          minutosCronometro++;
      }
      
      // Formatea los minutos y segundos y muestra en el formato MM:SS
      var minutos = minutosCronometro < 10 ? "0" + minutosCronometro : minutosCronometro;
      var segundos = segundosCronometro < 10 ? "0" + segundosCronometro : segundosCronometro;
      
      // Actualiza el cronómetro
      document.getElementById("cronometro").textContent = minutos + ":" + segundos;
      
      // Detén el cronómetro cuando alcance los 45 minutos
      if (minutosCronometro == 45) {
          clearInterval(cronometroInterval);
      }
  }

  // Iniciar el cronómetro cuando se presiona el botón de reproducción
    video.addEventListener('play', function() {
        cronometroInterval = setInterval(actualizarCronometro, 1000);
     
  });

  

</script>
<script>
  var video = document.getElementById('myVideo');

  video.addEventListener('play', function() {
    video.controls = true;
    video.addEventListener('timeupdate', function() {
      if (!video.seeking) {
        video.controls = false;
      }
    });
  });

  video.addEventListener('pause', function() {
    video.controls = true;
  });
</script>

{% endblock %}
