{% extends 'base.html' %}
{% load i18n static %}

{% block title %} TV en Vivo - Partido de Fútbol {% endblock %}

{% block content %}
  <div class="container">
    <h1>TV en Vivo - Partido de Fútbol</h1>
    
    <div class="video-container">
      <!-- Aquí puedes agregar el reproductor de video en vivo del partido de fútbol. Puedes utilizar HTML5 video, un reproductor de video de terceros, o cualquier otra tecnología que prefieras. -->
      <video controls width="640" height="360">
        <source src="URL_DEL_VIDEO_EN_VIVO" type="video/mp4">
        Tu navegador no soporta la reproducción de videos en vivo.
      </video>
    </div>
  </div>
{% endblock %}
