{% extends 'base.html' %}
{% load i18n static %}
{% block title %} Encuentros Por Jugar {% endblock %}
{% block content %}
<div class="section-title" style="background:url(/static/img/portada_encuentro.webp)">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Encuentros Por Jugar</h1>
            </div>
            <div class="col-md-4">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>TV en vivo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content-info">
    <div class="col-lg-12">
        <h1>Próximos Partidos</h1>
        <hr>
        <div class="recent-results results-page">
            <div class="info-results">
                <ul>
                    {% for ej in encuentros %}
                    <li>
                        <div class="head">
                            <span class="date">{{ ej.fecha | date:'d-m-Y h:m' }}</span>
                            <!-- <a href="/tvVivo/{{ej.encuentro_id}}" class="encuentro-link" style="font-size: 12px">▶ Ver</a> -->
                            <a href="/tvHome/{{ej.encuentro_id}}" class="encuentro-link" style="font-size: 12px">▶ Ver</a>

                        </div>
                        <div class="goals-result" style="align-items: center">
                            <a href="single-team.html" style="margin-top:0px; width: 40%">
                                <img src="{{ej.equipo_local.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt=""  loading="lazy">
                                {{ ej.equipo_local.nombre }}
                            </a>
                            <span class="goals">
                                <b>{{ ej.resultado_goles_local }}</b> - <b>{{ ej.resultado_goles_visita }}</b>
                            </span>
                            <a href="single-team.html" style="margin-top:0px; width: 40%">
                                <img src="{{ej.equipo_visita.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy"> 
                                {{ ej.equipo_visita.nombre }}
                            </a>
                        </div>
                       
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<style>
    .encuentro-link {
       
        background-color: #09ff00;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 7px 20px;
        text-decoration: none;
        transition: background-color 0.2s;
      
    }

    .encuentro-link:hover {
        color: #fff;
        background-color: #078503;
        
    }
</style>
{% endblock %}
