
{% extends 'base.html' %}
{% load i18n static %}

{% block title %} Cronología {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-xxx..." crossorigin="anonymous" />

<style>

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0; /* Agregado para eliminar el margen */
    box-sizing: border-box; /* Agregado para incluir el borde y el relleno en el ancho total */
}

    .card-header {
        background-color: #f5f5f5;
        padding: 10px;
        text-align: center;
    }

    .card-body {
        padding: 20px;
        
    }

    .team-info {
        margin-top: 10px;
    }

    .team-name {
        margin-top: 5px;
        font-weight: bold;
    }

    .score {
        font-size: 24px;
        margin: 15px 0;
    }

    .encuentro-link {
        background-color: #4285f4;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 7px 20px;
        text-decoration: none;
        transition: background-color 0.2s;
    }
    
    .encuentro-link:hover {
        background-color: #2d5ca9;
    }

    .events {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-info {
        color: #888;
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }

    .event-minute {
        font-weight: bold;
    }

    .event-type {
        color: #28a745;  /* Color verde para el tipo de evento (Gol) */
    }

    /* Nueva regla para la línea horizontal */
    .separator-line {
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }

    /* Alineación del icono de gol */
    .goal-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }


        /* Agrega un nuevo estilo para centrar las cards de eventos individuales */
        .event-card {
        margin: 0 auto;
        max-width: 500px; /* Puedes ajustar el ancho máximo según tus preferencias */
        
    }
    img.logo-equipo {
    width: 100%;
    height: auto;
} 
</style>

<body  data-encuentro-id="{{ encuentro.encuentro_id }}">

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Cronología del Encuentro</h1>
        </div>
        <div class="col-md-4">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="{% url 'contextoTVhome' %}">Volver</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="recent-results results-page">
        <div class="info-results">
            <ul>
                <li class="text-center" style="max-width: 500px; margin: 0 auto;left: -15px;">
                    <div class="card">
                        <div class="card-header">
                            <span class="date">{{ encuentro.competicion_id}} {{ encuentro.fecha | date:'D h:m' }}</span>
                            <a href="/tvVivo/{{encuentro.encuentro_id}}" class="encuentro-link" style="font-size: 12px">▶ Ver</a>
                        </div>
                        <div class="card-body" style="display: flex; align-items: center; justify-content: space-around;">
                            <div class="team-info">
                                <img src="{{equipo_local.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy" style="width: 50px;">
                                <p class="team-name">{{ equipo_local.nombre }}</p>
                            </div>
                            <span class="score">
                                <b>{{ descripcion_local.goles }}</b> - <b>{{ descripcion_visita.goles }}</b>
                            </span>
                            <div class="team-info">
                                <img src="{{equipo_visita.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy" style="width: 50px;">
                                <p class="team-name">{{ equipo_visita.nombre }}</p>
                            </div>
                        </div>
                        <!-- Línea horizontal como separador -->
                        <hr class="separator-line">
                        <!-- Agregar eventos debajo de la línea horizontal --> 
                        <div class="card-body" style="display: flex; align-items: center; justify-content: space-around;">
                            <div class="events">
                                {% for evento_local in eventos_local|dictsort:"tiempo" %}
                                {% if evento_local.tipo_evento_id.nombre == "GOL" %}
                                    <p class="event-info">
                                        <span class="event-player">{{ evento_local.alineacion_id1.contrato_id.persona.alias }}</span>
                                        <span class="event-minute">{{ evento_local.tiempo }}'</span>
                                    </p>
                                    {% endif %} 
                                {% endfor %}
                            </div>
                            <div class="goal-icon">
                                ⚽
                            </div>
                            <div class="events">
                                {% for evento_visita in eventos_visita|dictsort:"tiempo" %}
                                {% if evento_visita.tipo_evento_id.nombre == "GOL" %}
                                    <p class="event-info">
                                        <span class="event-player">{{ evento_visita.alineacion_id2.contrato_id.persona.alias }}</span>
                                        <span class="event-minute">{{ evento_visita.tiempo }}'</span>
                                    </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Agregar eventos de tarjeta roja debajo de la línea horizontal --> 
                        <div class="card-body event-group" style="display: flex; align-items: center; justify-content: space-around;">
                            <div class="events">
                                {% for evento_local in eventos_local|dictsort:"tiempo" %}
                                    {% if evento_local.tipo_evento_id.nombre == "TARJETA ROJA" %}
                                        <p class="event-info">
                                            <span class="event-player">{{ evento_local.alineacion_id1.contrato_id.persona.alias }}</span>
                                            <span class="event-minute">{{ evento_local.tiempo }}'</span>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="goal-icon">
                            🟥
                            </div>
                            <div class="events">
                                {% for evento_visita in eventos_visita|dictsort:"tiempo" %}
                                    {% if evento_visita.tipo_evento_id.nombre == "TARJETA ROJA" %}
                                        <p class="event-info">
                                            <span class="event-player">{{ evento_visita.alineacion_id2.contrato_id.persona.alias }}</span>
                                            <span class="event-minute">{{ evento_visita.tiempo }}'</span>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Mostrar eventos uno a uno en cards -->
<!-- Agrega un contenedor para los eventos con el ID "eventos-container" -->


<div class="container">
    <div class="recent-results results-page event-cards-container">
        {% for evento in eventos_todos reversed %}
            <div class="info-results event-card">
                <div class="card">
                    <div class="card-header">
                        {% if evento.tipo_evento_id.nombre == "TARJETA ROJA" %}
                        <span class="date"><i class="fas fa-square text-danger"></i> TARJETA ROJA</span>
                      {% elif evento.tipo_evento_id.nombre == "GOL" %}
                        <span class="date"><i class="fas fa-futbol text-success"></i> ¡GOOOOOOL!</span>
                      {% elif evento.tipo_evento_id.nombre == "TARJETA AMARILLA" %}
                        <span class="date"><i class="fas fa-square text-warning"></i> TARJETA AMARILLA</span>
                      {% elif evento.tipo_evento_id.nombre == "CAMBIO DE JUGADOR" %}
                        <span class="date"><i class="fas fa-exchange-alt text-primary"></i> CAMBIO</span>
                      {% endif %}
                      
                    
                    </div>
                    <div class="card-body">
                        <p class="event-info">
                            {% if evento.evento_equipo == True %}
                            {% if evento.tipo_evento_id.nombre == "CAMBIO DE JUGADOR" %}
                                <span class="event-minute"><img src="{{equipo_local.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy" style="width: 40px; margin-top: -25px;" ></span><br>
                                <span style="color: green;"> ENTRA: <i class="fas fa-arrow-up" style="color: green;"></i></span>
                                <span class="event-player"> {{ evento.alineacion_id2.contrato_id.persona }}</span><br>
                                <span style="color: red;"> SALE: <i class="fas fa-arrow-down" style="color: red;"></i></span>
                                <span class="event-player"> {{ evento.alineacion_id1.contrato_id.persona }}</span>
                               
                            {% else %}
                                <span class="event-player">{{ evento.alineacion_id1.contrato_id.persona }}</span>
                                <span class="event-minute">{{ evento.tiempo }}'</span>
                                <span class="event-minute"><img src="{{equipo_local.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy" style="width: 40px;"></span>
                            {% endif %}
                        {% else %}
                            {% if evento.tipo_evento_id.nombre == "CAMBIO DE JUGADOR" %}
                            <span class="event-minute"><img src="{{equipo_visita.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy" style="width: 40px;" ></span><br>
                                <span style="color: green;"> ENTRA: <i class="fas fa-arrow-up" style="color: green;"></i></span>
                                <span class="event-player">{{ evento.alineacion_id2.contrato_id.persona }}</span><br>
                                <span style="color: red;"> SALE: <i class="fas fa-arrow-down" style="color: red;"></i></span>
                                <span class="event-player">{{ evento.alineacion_id1.contrato_id.persona }}</span><br>
                                
                            {% else %}
                                <span class="event-player">{{ evento.alineacion_id2.contrato_id.persona }}</span>
                                <span class="event-minute">{{ evento.tiempo }}'</span>
                                <span class="event-minute"><img src="{{equipo_visita.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy" style="width: 40px;"></span>
                            {% endif %}
                        {% endif %}
                        
                         
                          
                        </p>
               
                    </div>
                   
                </div>
                <BR></BR>
            </div>
        {% endfor %}
    </div>

</div>
<BR></BR>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        function actualizarPagina() {
            // Cargar la página actual sin caché
            $.ajax({
                url: window.location.href,
                type: 'GET',
                cache: false,
                success: function (data) {
                    // Actualizar el contenido de la página con la respuesta
                    var nuevoContenido = $(data);

                    // Actualizar contenedor principal
                    var contenedorPrincipal = nuevoContenido.find('.recent-results.results-page');
                    $('.recent-results.results-page').html(contenedorPrincipal.html());

                    // Actualizar contenedor de eventos individuales
                    var contenedorEventos = nuevoContenido.find('.event-cards-container');
                    $('.event-cards-container').html(contenedorEventos.html());
                },
            });
        }

        // Actualizar la página cada 2 segundos
        setInterval(actualizarPagina, 2000);
    });
</script>



</body>
{% endblock %}
