{% extends 'base.html' %}
{% load i18n static %}
{% block title %} Cronología {% endblock %}
{% block content %}

<style>

    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 10px 0;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 500px; /* Set the width to 100% or any desired value */
    }

    .card-header {
        background-color: #f5f5f5;
        padding: 10px;
        text-align: center;
    }

    .card-body {
        padding: 20px;
    }

    .team-info {
        margin-top: 10px;
    }

    .team-name {
        margin-top: 5px;
        font-weight: bold;
    }

    .score {
        font-size: 24px;
        margin: 15px 0;
    }

    .encuentro-link {
        background-color: #4285f4;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 7px 20px;
        text-decoration: none;
        transition: background-color 0.2s;
    }
    
    .encuentro-link:hover {
        background-color: #2d5ca9;
    }

    .events {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-info {
        color: #888;
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
    }

    .event-minute {
        font-weight: bold;
    }

    .event-type {
        color: #28a745;  /* Color verde para el tipo de evento (Gol) */
    }

    /* Nueva regla para la línea horizontal */
    .separator-line {
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }

    /* Alineación del icono de gol */
    .goal-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    /* Nueva regla para separar conjuntos de eventos */
    .event-group {
        margin-bottom: 20px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Cronología del Encuentro</h1>
        </div>
        <div class="col-md-4">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="{% url 'contextoTVhome' %}">Volver</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="recent-results results-page">
        <div class="info-results">
            <ul>
                <li class="text-center" style="max-width: 500px; margin: 0 auto;">
                    <div class="card">
                        <div class="card-header">
                            <span class="date">{{ encuentro.competicion_id}} {{ encuentro.fecha | date:'D h:m' }}</span>
                            <a href="/tvVivo/{{encuentro.encuentro_id}}" class="encuentro-link" style="font-size: 12px">▶ Ver</a>
                        </div>
                        <div class="card-body" style="display: flex; align-items: center; justify-content: space-around;">
                            <div class="team-info">
                                <img src="{{equipo_local.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy" style="width: 50px;">
                                <p class="team-name">{{ equipo_local.nombre }}</p>
                            </div>
                            <span class="score">
                                <b>{{ descripcion_local.goles }}</b> - <b>{{ descripcion_visita.goles }}</b>
                            </span>
                            <div class="team-info">
                                <img src="{{equipo_visita.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" loading="lazy" style="width: 50px;">
                                <p class="team-name">{{ equipo_visita.nombre }}</p>
                            </div>
                        </div>
                        <!-- Línea horizontal como separador -->
                        <hr class="separator-line">
                        <!-- Agregar eventos debajo de la línea horizontal --> 
                        <div class="card-body" style="display: flex; align-items: center; justify-content: space-around;">
                            <div class="events">
                                {% for evento_local in eventos_local|dictsort:"tiempo" %}
                                {% if evento_local.tipo_evento_id.nombre == "GOL" %}
                                    <p class="event-info">
                                        <span class="event-player">{{ evento_local.alineacion_id1.contrato_id.persona.alias }}</span>
                                        <span class="event-minute">{{ evento_local.tiempo }}'</span>
                                    </p>
                                    {% endif %} 
                                {% endfor %}
                            </div>
                            <div class="goal-icon">
                                ⚽
                            </div>
                            <div class="events">
                                {% for evento_visita in eventos_visita|dictsort:"tiempo" %}
                                {% if evento_visita.tipo_evento_id.nombre == "GOL" %}
                                    <p class="event-info">
                                        <span class="event-player">{{ evento_visita.alineacion_id2.contrato_id.persona.alias }}</span>
                                        <span class="event-minute">{{ evento_visita.tiempo }}'</span>
                                    </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Agregar eventos de tarjeta roja debajo de la línea horizontal --> 
                        <div class="card-body event-group" style="display: flex; align-items: center; justify-content: space-around;">
                            <div class="events">
                                {% for evento_local in eventos_local|dictsort:"tiempo" %}
                                    {% if evento_local.tipo_evento_id.nombre == "TARJETA ROJA" %}
                                        <p class="event-info">
                                            <span class="event-player">{{ evento_local.alineacion_id1.contrato_id.persona.alias }}</span>
                                            <span class="event-minute">{{ evento_local.tiempo }}'</span>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="goal-icon">
                            🟥
                            </div>
                            <div class="events">
                                {% for evento_visita in eventos_visita|dictsort:"tiempo" %}
                                    {% if evento_visita.tipo_evento_id.nombre == "TARJETA ROJA" %}
                                        <p class="event-info">
                                            <span class="event-player">{{ evento_visita.alineacion_id2.contrato_id.persona.alias }}</span>
                                            <span class="event-minute">{{ evento_visita.tiempo }}'</span>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Mostrar eventos uno a uno en cards -->
<div class="container">
    <div class="recent-results results-page">
        {% for evento in eventos_local %}
            <div class="info-results">
                <div class="card">
                    <div class="card-header">
                        <span class="date">{{ evento.encuentro_id.competicion_id }} {{ evento.encuentro_id.fecha | date:'D h:m' }}</span>
                    </div>
                    <div class="card-body">
                        <p class="event-info">
                            {% if evento.evento_equipo %}
                                <span class="event-player">{{ evento.alineacion_id1.contrato_id.persona.alias }}</span>
                            {% else %}
                                <span class="event-player">{{ evento.alineacion_id2.contrato_id.persona.alias }}</span>
                            {% endif %}
                            <span class="event-minute">{{ evento.tiempo }}'</span>
                            {% if evento.tipo_evento_id.nombre == "Tarjeta Roja" %}
                                <span class="event-type">🟥 Tarjeta Roja</span>
                            {% else %}
                                <span class="event-type">⚽ Gol</span>
                            {% endif %}
                        </p>
                        <p class="event-info">{{ evento.motivo }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
