{% extends 'base.html' %}
{% load i18n static %}
{% block title %} TV en Vivo - Partido de Fútbol  {% endblock %}
{% block content %}
<style>
  .video-container {
    position: relative;
  }

  .banners-container {
    position: absolute;
    top: 330px;
    right: 620px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
   
    width: 500px;
    font-size: 20px;
    border-radius: 5px;
    z-index: 1;
  }

  .banner-cronometro {
    position: absolute;
    top: 14px;
    left: 13px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 30px;
    width: 100px;
    font-size: 17px;
    border-radius: 5px;
    z-index: 1;
  }

  .banner-marcadores {
    position: absolute;
    top: 14px;
    right: 975px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 30px;
    width: 180px;
    font-size: 17px;
    border-radius: 5px;
    z-index: 1;
  }


  /* .banners-container {
    position: absolute;
    top: 14px;
    right: 975px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 30px;
    width: 180px;
    font-size: 17px;
    border-radius: 5px;
    z-index: 1;
  } */

  .info-partido {
    position: absolute;
    top: 100px;
    left: 950px;
    background-color: rgba(3, 255, 37, 0.688);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 300px;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 50px rgba(3, 255, 37, 0.5);
    /* Ajusta el valor de desenfoque (10px) y opacidad (0.5) según tus preferencias */
  }
</style>
<div class="container">
  <h1>TV en Vivo - Partido de Fútbol</h1>

  <div class="video-container">
    <video src="https://drive.google.com/uc?export=download&id=1lfJThCimwUB8dUTW7O2mBh4b4m2ZqGCw" width="800"
      height="450" controls="false" disablePictureInPicture controlsList="nodownload" id="myVideo">
    </video>

      <div class="banner-cronometro">
        <span id="cronometro">00:00
      </div>
      
      <div class="banner-marcadores">
        <img src="{{jugar_encuentro.equipo_local.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" style="margin-top:0px; width: 13%"><span> {{equipo_a.siglas}} </span><span id="marcador-local">0</span> - <span id="marcador-visitante">0</span></span><span> {{equipo_b.siglas}} </span><img src="{{jugar_encuentro.equipo_visita.sede_id.ciudad_id.pais_id.logo_bandera.url}}" alt="" style="margin-top:0px; width: 13%">
      </div>
      <div class="info-partido">
        <h2>Información del Partido</h2>
        <p><strong>Fecha del Partido:</strong> {{jugar_encuentro.fecha}}</p>
        <!-- <p><strong>Hora de Inicio:</strong> 20:00 horas</p> -->
        <p><strong>Equipos:</strong> {{equipo_a.nombre}} vs. {{equipo_b.nombre}}</p>
        <p><strong>Estadio:</strong> {{estadio.nombre}}</p>
      </div>
      <div id="banners-container" class="banners-container" style="display: none;">
        <!-- Contenido del banner -->
        <p></p>

      </div>
    </div>
    <br>  
    <br>
    <br>
    <br>


    <!-- {% for e in eventos %} -->

    <!-- Comprueba si el evento debe mostrar un banner -->
    <!-- {% if e.mostrar_banner %} -->
    <!-- Aquí coloca el código HTML para el banner basado en el evento e -->
  
    <!-- {% endif %} -->
    <!-- {% endfor %} -->

    
  </div>



<script>
  var video = document.querySelector('video');
  var cronometroInterval;
  var minutosCronometro = 0;
  var segundosCronometro = 0;

  // Función para actualizar el cronómetro
  function actualizarCronometro() {
    if (segundosCronometro < 59) {
      segundosCronometro++;
    } else {
      segundosCronometro = 0;
      minutosCronometro++;
    }

    // Formatea los minutos y segundos y muestra en el formato MM:SS
    var minutos = minutosCronometro < 10 ? "0" + minutosCronometro : minutosCronometro;
    var segundos = segundosCronometro < 10 ? "0" + segundosCronometro : segundosCronometro;

    // Actualiza el cronómetro
    document.getElementById("cronometro").textContent = minutos + ":" + segundos;

    // Detén el cronómetro cuando alcance los 45 minutos
    if (minutosCronometro == 45) {
      clearInterval(cronometroInterval);
    }
  }

  // Iniciar el cronómetro cuando se presiona el botón de reproducción
  video.addEventListener('play', function () {
    cronometroInterval = setInterval(actualizarCronometro, 1000);

  });



</script>
<script>
  var video = document.getElementById('myVideo');

  video.addEventListener('play', function () {
    video.controls = true;
    video.addEventListener('timeupdate', function () {
      if (!video.seeking) {
        video.controls = false;
      }
    });
  });

  video.addEventListener('pause', function () {
    video.controls = true;
  });
</script>

<script>
  console.log("Fuera del bucle");
  // ...

  function obtenerBanners() {

    fetch('/datostv')
      .then(response => response.json())
      .then(data => {
        const bannersContainer = document.getElementById('banners-container');
        if (bannersContainer) {
          const nuevosBanners = data.banners;

          if (nuevosBanners.length > 0) {
            // Limpia los banners anteriores
            bannersContainer.innerHTML = '';

            nuevosBanners.forEach(banner => {
              const bannerElement = document.createElement('div');
              bannerElement.classList.add('banner-container'); // Corregido aquí
              bannerElement.innerHTML = banner.html; // Obtener el HTML del banner del objeto JSON
              bannersContainer.appendChild(bannerElement);

              console.log('HTML del banner:', banner.html); // Log del HTML del banner
            });

            // Muestra banners-container
            bannersContainer.style.display = 'block';

            // Oculta banners-container después de 10 segundos
            setTimeout(() => {
              bannersContainer.style.display = 'none';
              // Limpia el archivo temporal 'eventos_temporales.json'
              fetch('/limpiar-eventos-temporales')
                .then(response => response.json())
                .then(data => {
                  console.log('Archivo temporal limpiado:', data);
                })
                .catch(error => console.error(error));
            }, 10000);
          }
        } else {
          console.error('Elemento con ID "banners-container" no encontrado.');
        }
      })
      .catch(error => console.error(error));
  }

  // obtenerBanners();
  setInterval(obtenerBanners, 3000); 
</script>

<!--  -->


{% endblock %}