{% extends "admin/change_form.html" %}

{% block content %}
  <!-- {{ block.super }} -->

  {# Contenido personalizado aquí #}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <div>
    <h2></h2>
    {# En este ejemplo, estoy creando un formulario simple con botones y campos #}
    <div class="card mb-4">
      <div class="card-body">
        <form method="post" action="{% url 'admin:appEquipo_alineacion_change' object_id %}">
          {% csrf_token %}

          <div style="display: flex; justify-content: space-between;">
            {# Tabla para el equipo izquierdo #}
            <table>
              <thead>
                <tr>
                  <th>Seleccionar</th>
                  <th>Jugador</th>
                </tr>
              </thead>
              <tbody>
                {% for jugador in jugadores_equipo_izquierdo %}
                  <tr>
                    <td><input type="checkbox" name="jugadores_seleccionados[]" value="{{ jugador.id }}"></td>
                    <td>{{ jugador.nombre }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {# Tabla para el equipo derecho #}
            <table>
              <thead>
                <tr>
                  <th>Seleccionar</th>
                  <th>Jugador</th>
                </tr>
              </thead>
              <tbody>
                {% for jugador in jugadores_equipo_derecho %}
                  <tr>
                    <td><input type="checkbox" name="jugadores_seleccionados[]" value="{{ jugador.id }}"></td>
                    <td>{{ jugador.nombre }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

     

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
